services:
  postgres:
    image: postgres:14-alpine
    container_name: db_gastos
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=gastosdb
    volumes:
      - pg_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_gastos
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pg_data: